DB_HOST=localhost
DB_USER=root
DB_PASSWORD=YOUR_PASSWORD_HERE
DB_NAME=comfyui_assets

LORA_FOLDER=C:\path\to\ComfyUI\models\loras
CHECKPOINT_FOLDER=C:\path\to\ComfyUI\models\checkpoints
VAE_FOLDER=C:\path\to\ComfyUI\models\vae
UPSCALER_FOLDER=C:\path\to\ComfyUI\models\upscale_models
DIFFUSION_FOLDER=C:\path\to\ComfyUI\models\unet